<!-- Header -->
<div class="navbar navbar-expand-lg justify-content-between">
  <div><h5>Babarogic</h5></div>
  <div class="collapse navbar-collapse flex-grow-0 weight-500">
    <div class="navbar-nav">
      <div class="nav-item"><a class="nav-link text-dark pl-0" routerLink="/home">Home</a></div>
      <div class="nav-item"><a class="nav-link text-dark pl-0" routerLink="/contact">Contact</a></div>
    </div>
  </div>
  <div class="d-lg-none ml-auto">
    <div class="nav-item"><a class="nav-link text-dark pr-0" href=""><img src="./assets/glyphs/search.svg"/></a></div>
  </div>
</div>
