<div class="container">
  <div class="row justify-content-between align-items-center pt-5 pb-2">
    <div class="col-12 col-md-5">
      <h3>Hi there 👋</h3>
      <h1 class="mb-5 font-weight-bold">
        I’m Goran Babarogic, product designer and developer from Serbia.</h1>
      <div class="row align-items-center">
        <div class="col mb-2 mb-md-0">
          <button type="button" class="btn btn-lg btn-primary">Let's work together</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <img src="assets/img/hero/8.png" class="img-fluid hero-img">
    </div>
  </div>
</div>


<div id="caseStudies" class="container space-2 space-3-top">
  <!-- Card -->
  <div data-aos="fade-up">
    <a class="card bg-soft-success text-inherit transition-3d-hover p-5 p-md-3 space-2" href="#">
      <div class="row">
        <div class="col-lg-4 order-lg-2 mb-5 mb-lg-0">
          <div class="d-flex flex-column h-100">
            <div class="mb-7">
              <h1 class="">Hubble</h1>
              <p class="text-body">The more affordable daily contact lens. Modify or cancel anytime.</p>
            </div>

            <!-- Testimonials -->
            <div class="card p-4 mt-auto">
              <div class="mb-3">
                <img class="clients mr-auto" src="../../assets/svg/fitbit-original.svg" alt="SVG Logo">
              </div>

              <div class="mb-3">
                <blockquote class="text-dark">"The template is really nice and offers quite a large set of options. It's
                  beautiful and the coding is done quickly and seamlessly. Thank you!"
                </blockquote>
              </div>

              <div class="media">
                <div class="avatar avatar-circle mr-3">
                  <img class="avatar-img" src="../../assets/img/img2.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <span class="d-block h5 mb-0">Max</span>
                  <small class="d-block text-muted">Fitbit Agency Partner</small>
                </div>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>

        <div class="col-lg-8 order-lg-1">
          <!-- Info -->
          <div class="mb-5">
            <img class="img-fluid rounded" src="../../assets/img/img15.jpg" alt="Image Description">
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <h4>Support and win</h4>
              <p class="text-body">When we empower others to succeed, we all win. (And we're not talking about
                participation trophies.)</p>
            </div>

            <div class="col-sm-6">
              <h4>Open communication</h4>
              <p class="text-body">We're big fans of transparency for many reasons, but the abridged version is: it
                makes easier.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>
    </a>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div data-aos="fade-up">
    <a class="card bg-soft-danger text-inherit transition-3d-hover p-5 space-2" href="#">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="d-flex flex-column h-100">
            <div class="mb-7">
              <h2 class="h1">Curology</h2>
              <p class="text-body">For healthy and beautiful skin, get skincare customized just for you from experts at
                Curology.</p>
            </div>

            <!-- Testimonials -->
            <div class="card p-4 mt-auto">
              <div class="mb-3">
                <img class="clients mr-auto" src="../../assets/svg/airbnb-original.svg" alt="SVG Logo">
              </div>

              <div class="mb-3">
                <blockquote class="text-dark">"I am absolutely floored by the level of care and attention to detail the
                  team at Htmlstream have put into this theme and for one can guarantee that I will be a return
                  customer."
                </blockquote>
              </div>

              <div class="media">
                <div class="avatar avatar-circle mr-3">
                  <img class="avatar-img" src="../../assets/img/img3.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <span class="d-block h5 mb-0">Luisa</span>
                  <small class="d-block text-muted">Executive Creative Director</small>
                </div>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>

        <div class="col-lg-8">
          <!-- Info -->
          <div class="mb-5">
            <img class="img-fluid rounded" src="../../assets/img/img16.jpg" alt="Image Description">
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <h4>Hit heavy, stay small</h4>
              <p class="text-body">Tight-knit, dynamic teams work with more agility, communication, and freedom than
                large-scale companies.</p>
            </div>

            <div class="col-sm-6">
              <h4>Ambition by the boatload</h4>
              <p class="text-body">We love people who aim for greatness. They inspire and excite their teammates,
                raising the bar for all of us.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>
    </a>
  </div>
  <!-- End Card -->

  <!-- Card -->
  <div data-aos="fade-up">
    <a class="card bg-soft-warning text-inherit transition-3d-hover p-5 space-2" href="#">
      <div class="row">
        <div class="col-lg-4 order-lg-2 mb-5 mb-lg-0">
          <div class="d-flex flex-column h-100">
            <div class="mb-7">
              <h2 class="h1">Larq</h2>
              <p class="text-body">LARQ Bottle Benefit Edition. 0. Lives will be saved with access. to clean water.</p>
            </div>

            <!-- Testimonials -->
            <div class="card p-4 mt-auto">
              <div class="mb-3">
                <img class="clients mr-auto" src="../../assets/svg/slack-original.svg" alt="SVG Logo">
              </div>

              <div class="mb-3">
                <blockquote class="text-dark">"It's a beautiful looking theme with great support from the developers.
                  The included demos are a great way to understand the theme, its features and speed up development."
                </blockquote>
              </div>

              <div class="media">
                <div class="avatar avatar-circle mr-3">
                  <img class="avatar-img" src="../../assets/img/img10.jpg" alt="Image Description">
                </div>
                <div class="media-body">
                  <span class="d-block h5 mb-0">Christina</span>
                  <small class="d-block text-muted">Head of Commercials</small>
                </div>
              </div>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>

        <div class="col-lg-8 order-lg-1">
          <!-- Info -->
          <div class="mb-5">
            <img class="img-fluid rounded" src="../../assets/img/img17.jpg" alt="Image Description">
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <h4>Autonomy and attitude</h4>
              <p class="text-body">We're a team of self-starters who take serious pride in our work – and it shows.</p>
            </div>

            <div class="col-sm-6">
              <h4>Teamwork makes the dream work</h4>
              <p class="text-body">We work together to bring our passions and expertise to make Teachable the best it
                can be.</p>
            </div>
          </div>
          <!-- End Info -->
        </div>
      </div>
    </a>
  </div>
  <!-- End Card -->
</div>
